body {
    font-family: Arial, sans-serif;
    background-color: #373737;
    color: #f6f3ef;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.header-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: auto;
    width: 70px; /* Logo size */
}

.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px; /* 로고 컨테이너 크기 확대 */
    height: 120px;
    padding-top: 0;
}

.logo-container a img {
    width: 100%; /* 컨테이너에 맞게 크기 조정 */
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease, transform 0.3s ease;
    background-color: #373737;
    border-color: #373737;
}

.logo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo-container h1 {
    margin-left: 10px;
    font-size: 20px;
}


.logo-container a:hover img {
    opacity: 0.8;
    transform: scale(1.05);
}

.logout {
    position: fixed;
    top: 20px;
    right: 20px;
    color: #f6f3ef;
    background-color:#398428;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.logout:hover {
    background-color: #2e6e22;
}

.mypage {
    position: fixed;
    top: 20px;
    right: 20px;
    color: #f6f3ef;
    background-color:#398428;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.mypage:hover {
    background-color: #2e6e22;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: #398428;
    margin-top: 60px;
    margin-bottom: 60px;
}

.container {
    background-color: #474747;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
    padding: 30px;
    text-align: center;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.header1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #f6f3ef;
    background-color: #2e5743;
    background-color: #2e5743;
    color: #f6f3ef;
    padding: 20px;
    border-radius: 8px;
}

.profile {
    background-color: #c9e4fc;
    color: #333;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    font-size: 18px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #f6f3ef;
}

.table-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column; 
}

.table {
    margin: 0 auto 20px auto;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    font-size: 16px;
}

th {
    background-color: #f0f0f083;
    font-weight: bold;
}


.button-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #398428;
    color: #f6f3ef;
    flex: 1;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #398428;
    color: #f6f3ef;
    font-size: 16px;
}

.button:hover {
    background-color:  #2e6e22;
}

.button:focus {
    outline: 3px solid #317725;
}

a {
    text-decoration: none;
    color: inherit;
}
