<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기</title>
    <link id="theme-style" rel="stylesheet" href="">
    <style>
    </style>
</head>
<body>
    <div class="home-box">
        <a href="/webapp/main/" class="logo">
            <img src="/static/logo-light.png" alt="연DO">
        </a>
    </div>
    <div class="find-container">
        <div class="title">아이디 찾기</div>
            <form method="POST" action="/webapp/find_id/">
                {% csrf_token %}
                <input type="text" name="name" placeholder="이름" required>
                <input type="email" name="email" placeholder="이메일" required>
                <button type="submit">확인</button>
                    <a href="/webapp/login/" class="button find-button"></a>
            </form>
    </div>
    <script>
        let currentDate = new Date();
        // 라이트모드, 다크모드 설정 (0: 다크모드, 1: 라이트모드)
        let mode = 1;

        document.addEventListener('DOMContentLoaded', function() {
        const styleSheet = document.getElementById('theme-style');
        const logoImg = document.querySelector('.logo img');
        
        if (mode === 1) {
            styleSheet.href = '../../static/lightmode.css';
            logoImg.src = '/static/lightmode.png';
        } else {
            styleSheet.href = '../../static/darkmode.css';
            logoImg.src = '/static/darkmode.png';
        }

        const messages = "{% for message in messages %}{{ message }}{% endfor %}";

            if (messages) {
                alert(messages);  // 메시지를 팝업으로 표시
            }
        });
    </script>
</body>
</html>
