<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="theme-style" rel="stylesheet" href="">
    <title>연DO 로그인</title>
    <style></style>
</head>
<body>
    <div class="home-box">
        <img src="/static/logo-light.png">
    </div>
    <div class="login-container">
        <div class="title">로그인 </div>
        <form method="POST" action="/webapp/login/">
            {% csrf_token %}
            <input type="text" name="userid" placeholder="아이디" required>
            <input type="password" name="password" placeholder="비밀번호" required>
            <button type="submit">연DO 로그인</button>
        </form>
        <div class="extra-links">
            <a href="/webapp/find_id/">아이디</a>/
            <a href="/webapp/find_pw/">비밀번호 찾기</a> | 
            <a href="/webapp/signup/">회원가입</a>
        </div>
        
    </div>
    <script>
        let currentDate = new Date();
        // 라이트모드, 다크모드 설정 (0: 다크모드, 1: 라이트모드)
        let mode = 0;

        document.addEventListener('DOMContentLoaded', function() {
        const styleSheet = document.getElementById('theme-style');
        const logoImg = document.querySelector('.logo img');
        
        if (mode === 1) {
            styleSheet.href = '../../static/lightmode.css';
            logoImg.src = '/static/lightmode.png';
        } else {
            styleSheet.href = '../../static/darkmode.css';
            logoImg.src = '/static/darkmode.png';
        }
    });
    </script>
</body>
</html>
