<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="theme-style" rel="stylesheet" href="/static/styles2-light.css">
    <title>UI 설정</title>
    
    <style>
        .body{
            min-width: 85vh;
        }
        .container{
            max-width: 600px;
        }
        .button {
            margin: 10px 0;
            width: 80%;
            max-width: 300px;
            min-height: 50px;
        }

    </style>
</head>
<body>
    <div class="header-bar">
        <div class="logo-container">
            <a href="/webapp/main/" class="logo">
                <img src="/static/lightmode.png" alt="Logo" />
            </a>
            <a href="/webapp/logout/" class="logout">로그아웃</a>
        </div>
    </div>

    <div class="divider"></div>

    <div class="container">
        <div class="header">내 일정 관리</div>
        <a href="/webapp/event/"><button class="button">일정 목록</button></a>
        <a href="/webapp/event/create/"><button class="button">일정 추가</button></a>
        <a href="/webapp/event/edit/"><button class="button">일정 변경&삭제</button></a>
        <a href="/webapp/event/ui"><button class="button">일정 UI 설정</button></a>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const mode = {{ mode }}; // 템플릿에서 mode 값을 가져옵니다.
            const styleSheet = document.getElementById('theme-style');

            // mode 값에 따라 스타일시트 변경
            if (styleSheet) {
                if (mode === 1) {
                    styleSheet.href = '/static/styles2-light.css';
                } else {
                    styleSheet.href = '/static/styles2-dark.css';
                }
            }
        });
    </script>
</body>
</html>
