<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="theme-style" rel="stylesheet" href="/static/styles2-light.css">
    <title>내 정보 관리</title>
    <style>




    </style>
</head>
<body>
    <div class="header-bar">
        <div class="logo-container">
            <a href="/webapp/main/" class="logo">
                <img src="/static/lightmode.png" alt="Logo" />
            </a>
            <a href="/webapp/logout/" class="logout">로그아웃</a>
        </div>
    </div>

    <div class="divider"></div>

    <div class="container">
        <div class="header">내 정보 관리</div>
            
        <table class="table">
             <tr>
                <td><strong>이름</strong></td>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <td><strong>아이디</strong></td>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <td><strong>이메일</strong></td>
                <td>{{ user.user_email }}</td>
            </tr>
        </table>

        <div class="button-container">
            <a href="/webapp/reset_pw/<str:userid>" class="button">비밀번호 변경</a>
            <form method="POST" action="/webapp/del_account/">
                {% csrf_token %}
                <button type="submit" class="button">회원 탈퇴</button>
            </form>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const mode = {{ mode }}; // 템플릿에서 mode 값을 가져옵니다.
            const styleSheet = document.getElementById('theme-style');

            // mode 값에 따라 스타일시트 변경
            if (styleSheet) {
                if (mode === 1) {
                    styleSheet.href = '/static/styles2-light.css';
                } else {
                    styleSheet.href = '/static/styles2-dark.css';
                }
            }
        });
    </script>

</body>
</html>
