/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2e5743; /* Background color */
    margin: 0;
}

/* Logo Container */
.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #f6f3ef;
    border: 2px solid #f6f3ef;
    border-bottom-right-radius: 8px;
    padding: 12px;
}

.logo img {
    height: auto;
    width: 70px; /* Logo size */
}

/* Main Container */
.container {
    background-color: #f6f3ef;
    width: 100%;
    max-width: 600px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

/* Header */
.header {
    background-color: #2e5743;
    color: #f6f3ef;
    padding: 20px;
    font-size: 26px;
    font-weight: 600;
    border-radius: 8px;
}

/* Profile */
.profile {
    background-color: #c9e4fc;
    color: #333;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    font-size: 18px;
}

/* Information */
.info {
    margin-top: 20px;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

/* Button */
.button {
    background-color: #d5e9f2;
    color: #333;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #c0d9e6;
}

/* Logout Button */
.logout {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 120px;
    height: 50px;
    background-color: #c9c9c9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (min-width: 1024px) {
    .container {
        width: 80%;
        max-width: 900px;
        padding: 40px;
    }

    .profile {
        width: 200px;
        height: 200px;
        font-size: 18px;
    }

    .header {
        font-size: 28px;
        padding: 25px;
    }

    .info {
        font-size: 18px;
    }

    .button {
        font-size: 18px;
        padding: 15px;
    }

    .logout {
        width: 140px;
        height: 50px;
        font-size: 16px;
    }

    .logo img {
        width: 90px; /* Larger logo for larger screens */
    }
}
